/**
 * Components
 * Cards
 */

@use "sass:color";
@use "../0-abstracts/" as *;
@use "../1-base/typography" as *;

.card-chat {
  padding: 10px 16px 14px;
  @include border(
    1px,
    rgba(var(--color-text-primary), .08),
    $radius: 24px
  );
  @extend .body,.body-normal;
  @include wh(100%, $max-w: max-content);

  span {
    opacity: .5;
  }

  @include mq($max: md) {
    border-radius: 16px;
    padding: 12px 16px 16px;
  }
}

.card-cta {
  max-width: col-width(6);
  margin: auto;
  @include flex(column, $align: center, $gap: 24px);
  background-color: rgba(var(--color-accent-primary), .1);
  padding: 48px 64px 56px;
  text-align: center;
  @include border(1px, rgba(var(--color-accent-primary), .08), $radius: 24px);

  .body {
    max-width: col-width(5);
    margin-bottom: 8px;
  }

  @include mq($max: md) {
    border-radius: 16px;
    padding: 44px 24px 48px;
  }
}