/**
 * Pages / Home
 * Hero.scss
 */

@use "../scopes" as scope;
@use "../../0-abstracts/" as *;
@use "../../1-base/typography" as *;

#{scope.$home} {

.hero {
  padding-top: 48px;
  position: relative;
  // border-bottom: 1px solid rgb(var(--color-border-light));
  
  .display {
    position: relative;
    margin-bottom: 56px;
    
    span {
      display: block;
      color: rgb(var(--color-accent-primary));
    }
  }

  @include mq($max: xl) {
    .display-wrapper {
      margin-bottom: 32px;
    }
  }

  @include mq($max: md) {
    font-size: 12px;

    .top .display::before,
    .bottom .display::after {
      display: none;
    }
  }
}

}