/**
 * Pages / Home
 * Hero.scss
 */

@use "../scopes" as scope;
@use "../../0-abstracts/" as *;
@use "../../1-base/typography" as *;

#{scope.$home} {

.hero {
  padding-top: 48px;
  // @include padding(y, (48, 56));
  position: relative;
  // border-bottom: 1px solid rgb(var(--color-border-light));
  
  .title {
    position: relative;
    margin-bottom: 56px;
    
    span {
      display: block;
      color: rgb(var(--color-accent-primary));
    }
  }

  @include mq($max: md) {
    padding-top: 100px;

    .title {
      margin-bottom: 24px;
    }

    .button {
      @include wh(calc(100%), $max-w: none);
      justify-content: space-between;
      // transform: translateX(-1px);
    }
  }
}

}