/**
 * Pages / Home
 * Intro.scss
 */

@use "../scopes" as scope;
@use "../../0-abstracts/" as *;
@use "../../1-base/typography" as *;

#{scope.$home} {

.intro {
  margin-top: 56px;
  padding-bottom: 64px;
  
  [class*="container"] {
    padding-top: 48px;
    border-top: 1px dashed rgb(var(--color-border-light));
  }

  .content-inner {
    max-width: col-width(6);
    margin: auto;
  }

  .services {
    margin-top: 24px;
    width: 100%;
    @include flex(row, $gap: 8px);
  }
}

}