/**
 * Pages / Home
 * Projects
 */

@use "../scopes" as scope;
@use "../../0-abstracts/" as *;
@use "../../1-base/typography" as *;

#{scope.$home} {

.projects {
  // padding: 64px 0;
  // background-color: rgb(var(--color-background-site));
  // border-bottom: 1px solid rgb(var(--color-border-light));
  position: relative;
  
  @include pseudo(after) {
    @include wh(100%, calc(100% + 128px));
    @include pos(-64, $z: -1);
    background-image: linear-gradient(180deg,
      rgba(var(--color-background-site), 0) 0%,
      rgba(var(--color-background-site), 1) 20%,
      rgba(var(--color-background-site), 1) 90%,
      rgba(var(--color-background-site), 0) 100%
    );
  }

  .projects-gallery {
    @include flex(row, $gap: config("grid-gap"));
    @include padding(y, 64);
    @include margin(y, -64);

    .project-slide {
      // scroll-snap-align: center;
      @include wh(100%, 550px, col-width(8));
      flex: 0 0 100%;
      @include border(1px, rgb(var(--color-gray-10)), $radius: 20px);
      box-shadow: 0 0 16px rgba(var(--color-gray-100), .04);
    }
  }

  @include mq($max: lg) {
    .projects-gallery {
      @include padding(y, 32);
      padding-left: 16px;
      gap: 8px;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      scroll-behavior: smooth;
      scrollbar-width: none;
      transform: translateX(0) !important;

      .project-slide {
        max-width: calc(100% - 16px);
        height: auto !important;
        border-radius: 16px;
        aspect-ratio: 16/9;
        scroll-snap-align: center;
      }
    }

    @include pseudo(after) {
      @include wh(100%, calc(100% + 24px));
      @include pos(-12, $z: -1);
      background-image: linear-gradient(180deg,
        rgba(var(--color-background-site), 0) 0%,
        rgba(var(--color-background-site), 1) 20%,
        rgba(var(--color-background-site), 1) 80%,
        rgba(var(--color-background-site), 0) 100%
      );
    }
  }
}

}