/**
 * Pages / Home
 * Process
 */

@use "../scopes" as scope;
@use "../../0-abstracts/" as *;
@use "../../1-base/typography" as *;

#{scope.$home} {

.process {
  padding: 64px 0;
  // border-bottom: 1px solid rgb(var(--color-border-light));

  .content-inner {
    max-width: col-width(6);
    margin: auto;
  }

  .section-title {
    span {
      display: block;
    }
  }

  .process-steps {
    padding-top: 56px;
    @include grid($gap: 16px);

    .steps-main {
      @include flex(row, flex-end, $gap: 8px);
      @include wh(100%, $max-w: col-width(4));
      justify-self: end;

      .steps {
        @include flex(column, $gap: 8px);
      }

      .step {
        @include pseudo() {
          @include pos(8px, $l: 0);
          transform: translateX(calc(-100% - 16px));
          @include icon("icon-process-1.svg", $size: 32px); 
        }

        position: relative;

        &.step-2 {
          @include pseudo() {
            @include icon("icon-process-2.svg", $size: 32px); 
          }
        }
        
        &.step-3 {
          @include pseudo() {
            @include icon("icon-process-3.svg", $size: 32px); 
          }
        }
      }
    }
  }

  @include mq($max: md) {
    padding-bottom: 48px;
    
    .process-steps {
      padding-top: 32px;

      .steps-main {
        @include flex(column);
        padding-left: 16px;

        .step {
          @include flex($gap: 12px);

          @include pseudo() {
            @include pos(8px, $l: 0, $pos: relative);
            transform: translateX(0);
          }
        }
      }
    }
  }
}

}