/**
 * Abstracts
 * Colors.scss
 *
 * Contains all color maps and a get-color @function to get
 * main colors/variants according to the current theme
 */

@use "sass:map";

$color-theme-current: "light";

$color-theme-light: (
  basic: (
    white: #FFF,
    black: #180700
  ),
  accent: (
    primary: #F5541E,
  ),
  background: (
    site: #F7F7F7,
  ),
  border: (
    light: #FDE5DB,
    dark: #C4C4C4,
  ),
  text: (
    primary: #180700,
    light: #FFF,
  ),
  gray: (
    100: #1E1C1B,
    10: #E8E8E8,
    5: #F4F4F4,
  )
);

$color-theme-dark: (
  basic: (
    white: #FFF,
    black: #180700
  )
);

$color-themes: (
  light: $color-theme-light,
  dark: $color-theme-dark
);


/**
  * Gets a specific color variant according to current theme (light/dark)
  * Ex: get-color(accent, 2, "dark")
  */
@function get-color($main, $variation, $theme: $color-theme-current) {
  $current-theme: map.get($color-themes, $theme);

  @return map.get(map.get($current-theme, $main), $variation);
};