/**
 * Base
 * Typography.scss
 */

@use "../0-abstracts/" as *;

.heading {
  &-1 {
    @include font(to-rem(96), to-rem(80), to-rem(-4), 900);
  }

  &-2 {
    @include font(to-rem(80), to-rem(72), to-rem(-3), 900);
  }
  
  &-3 {
    @include font(to-rem(64), to-rem(64), to-rem(-2), 900);
  }

  &-4 {
    @include font(to-rem(56), to-rem(56), to-rem(-2.2), 900);
  }

  &-5 {
    @include font(to-rem(40), to-rem(40), to-rem(-.6), 800);
  }

  &-6 {
    @include font(to-rem(32), to-rem(32), to-rem(-1), 700);

    &.-light,
    .-light {
      font-weight: 500;
      line-height: to-rem(36);

      .default {
        font-weight: 800;
      }
    }
  }

  @include mq($max: md) {
    &-1 {
      @include font(to-rem(48), to-rem(44), to-rem(-2), 900);
    }

    &-2 {
      @include font(to-rem(40), to-rem(40), to-rem(-1.6), 900);
    }
    
    &-3 {
      @include font(to-rem(36), to-rem(36), to-rem(-1.6), 900);
    }

    &-4 {
      @include font(to-rem(32), to-rem(32), to-rem(-1.6), 900);
    }

    &-5 {
      @include font(to-rem(28), to-rem(28), to-rem(-1.2), 800);
    }

    &-6 {
      @include font(to-rem(24), to-rem(28), to-rem(-.6), 700);

      &.-light,
      .-light {
        font-weight: 500;
        line-height: to-rem(28);
        letter-spacing: to-rem(-.4);
      }
    }
  }
}

.body {
  &.body-large {
    @include font(to-rem(24), to-rem(32), to-rem(-.2), 500);

    &.-bold,
    .-bold {
      font-weight: 700;
    }
  }
  
  &.body-normal {
    @include font(to-rem(20), to-rem(28), to-rem(-.2), 550);
  }

  @include mq($max: md) {
    &.body-large {
      @include font(to-rem(22), to-rem(28), to-rem(-.3), 500);

      &.-bold,
      .-bold {
        font-weight: 700;
      }
    }
    
    &.body-normal {
      @include font(to-rem(18), to-rem(24), to-rem(-.1), 550);
    }
  }
}

.link {
  text-decoration: none;

  &.link-large {
    @include font(to-rem(22), to-rem(24), to-rem(-.6), 600, $family: config("font-secondary"));
  }

  &.link-normal {
    @include font(to-rem(20), to-rem(24), to-rem(-.6), 600, $family: config("font-secondary"));
  }

  &.link-small {
    @include font(to-rem(16), to-rem(20), to-rem(-.6), 600, $family: config("font-secondary"));
  }

  @include mq($max: md) {
    &.link-large {
      @include font(to-rem(18), to-rem(20), to-rem(-.6), 600, $family: config("font-secondary"));
    }
  }
}

.label {
  &.label-normal {
    @include font(to-rem(16), to-rem(20), to-rem(-.6), 600, $family: config("font-secondary"));
  }

  &.label-small {
    @include font(to-rem(14), to-rem(16), to-rem(-.6), 600, $family: config("font-secondary"));
  }
}